
<% if flash[:notice] %>
  <div class="alert alert-<%= @res ? 'success' : 'danger'%>" role="alert"><%= flash[:notice] %></div>
<% end %>

<% if @modal==1 %>
    <div class="text-center">
      <button type="button" class="btn btn-primary" data-dismiss="modal"><%=t('callback_request.close')%></button>
    </div>

<% end %>