<div id='wrap'>
  <div class='container'>


<%=link_to_callback_modal "Show modal", '#', :class=>'btn btn-primary' %>
    <br>
    Autoclose in 5 sec:<br>
    <%=link_to "Show modal with autoclose", '#', :class=>'btn btn-default callback_link', :data=>{'autoclose'=>5} %>


<br>

<%= render 'callback_request_bootstrap/requests/js_modal'%>

    </div>
</div>
