<div id='wrap'>
  <div class='container'>


<%=link_to_callback_modal "Show modal", :class=>'btn' %>

<br>

<%=link_to "Show form", callback_request_bootstrap.new_request_path,:class=>'btn' %>

<br>


<%= render 'callback_request_bootstrap/requests/js_modal'%>

    </div>
</div>
